body {
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
    color: #0FFF50;
    margin: 0;
  }

  .container {
    background-color: darkgray;
    max-width: 450px;
    width: 100%;
    margin:  0 auto;
    margin-top: 10px;
    /* padding: 10px; */
    /* border-radius: 25px; */
    /* border: 1px solid lightgray; */
    /* box-shadow: 5px 5px 10px black; */
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  .buttonBar {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    width: 100%;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    /* font-size: 20px;
      width: 10%;
      height: 5%;
      margin-top: 1%;
      margin-left: 1%; */
    /* border-radius: 25px; */
    /* border: 1px solid lightgray; */
    /* box-shadow: 5px 5px 10px black; */
  }

  
  /* Rules for sizing the icon. */
  .material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
  
  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }
  
  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
  }
  
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .button-toolbar {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid darkgray;
  }
  
  .button-toolbar:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
  }
  
  
  /* Increase button size for smaller screens */
  
  
  @supports (-webkit-touch-callout: none) {
  
    @media (max-width: 600px) {
      /* CSS specific to iOS devices */
      .button-toolbar {
        padding: 15px 15px;
        font-size: 18px;
        border: 1px solid green;
      }
    }
  }
  
  @supports not (-webkit-touch-callout: none) {
  
    /* CSS for other than iOS devices */
    @media (max-width: 600px) {
      .button-toolbar {
        padding: 15px 15px;
        font-size: 18px;
        border: 1px solid blue;
      }
    }
  }
  
  *:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
  }

  .cardMain {
    /* position: absolute;
    top: 80px;
    left: 0px; */
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    /* margin-left: 10px; */
    border-radius: 25px;
    border: 1px solid lightgray;
     /* offset-x | offset-y | blur-radius | color */
    box-shadow: 1px 1px 1px black;
  }

  .cardTitle {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 20px;
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 2px 2px 4px black; */
  }

  .cardParagraph {
    color: black;
    font-size: 18px;
  }